.product-img
{
    width:100%;
    object-fit:cover;
}

.product-img-cell{
    width:200px;
}
.table {
    text-align: center;
}

.description-field {
    width: 30% !important;
    background-color: red;
    line-height: 10px;
}
.body{
    background-color:red;
}
.id-field{
    width:10%;
}

.actions a{
    display:block;
}

.create-button-div{
    width:20%;
    margin-bottom:20px;
}

.select-category-search {
    margin-right: 20px;
    float: left;
}

.productId-search {
    margin-right: 150px;    
    float: left;
}

.productId-search input{
    width:270px;
    text-align:center;
}
