html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.error {
    color: #C81313;
}

.content-container > *{
      margin:0 auto;
}
.content-container{
    padding:50px;
}
