@using Warehouse.Core.ViewModels

@model IEnumerable<ProductViewModel>
<div class="content-container">
    <div class="card card-success">
        <div class="card-body">
            @if (Model.Count() > 0)
            {
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="card mb-2 bg-gradient-dark">
                                <a href="/Product/Details/@product.Id">
                                    <img class="card-img-top product-all-image" src="~/uploads/@product.Image">
                                    <h3 class="product-all-name">@product.Name</h3>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <h3>There are not available products from this category!</h3>
            }
        </div>
    </div>
</div>


@section Head{
    <link rel="stylesheet" href="~/css/productViews.css" type="text/css" runat="server" />
	}